{
  "extends": ["airbnb"],
  "rules": {
    "arrow-body-style": "off",
    "block-scoped-var": "off",
    "eqeqeq": "off",
    "func-names": "off",
    "guard-for-in": "off",
    "import/newline-after-import": "off",
    "max-len": [2, 120, 4],
    "no-console": "off",
    "no-const-assign": "off",
    "no-constant-condition": "off",
    "no-restricted-syntax": "off",
    "no-shadow": "off",
    "no-use-before-define": "off",
    "no-undef": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "no-var": "off",
    "prefer-const": "off",
    "prefer-template": "off",
    "no-redeclare": "off",
    "vars-on-top": "off"
  }
}
