{
  "extends": ["airbnb"],
  "rules": {
    "eqeqeq": "off",
    "import/newline-after-import": "off",
    "no-console": "off",
    "no-var": "off",
    "prefer-template": "off",
    "vars-on-top": "off"
  }
}
