body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #717171;
  background: #fafafa;
  line-height: 1.4em;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #caac2a;
  transition: color 0.2s ease;
}
a:hover { color: #e3c22f; }

li + li {
  margin-top: 1em;
}
